/*----------- 
    RESET
------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font pagina */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*----------- 
    COMMONS
------------*/

/* Parte superiore header */
.header-top{
    position: relative;
    background-color: #3161e0;
    padding-right: 10%;
    padding-left: 10%;
}

/* stile logo */
.header-top img{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Contenitore bottone accedi */
.button-header-container{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Nav header */
.nav-header-top{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

/* Span all'interno del nav header */
.nav-header-top span{
    padding-left: 1.5%;
}

/* hero */
.hero{
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    text-align: center;
}

/* Contenitore bottoni hero */
.button-hero-container{
    padding-top: 3%;
}

/* Container paragrafo hero */
.container-paragrafo-hero{
    width: 40%;
    margin: auto;
    padding-top: 2%;
}

/* Titolo hero */
.hero h1{
    font-size: 40px;
    padding-top: 10%;
}

/* Sezione main */
section{
    position: relative;
    min-height: 500px;
    margin-bottom: 50px;
}

/* contenitore testo section */
.first .section-container-right{
    width: 20%;
    position: absolute;
    top: 3%;
    right: 15%;
}

/* Stile titolo sezione */
section h1{
    margin-top: 32px;
    font-size: 40px;
}

/* Stile paragrafo sezione */
section p{
    padding-top: 20px;
    font-size: 20px;
}

/* Stile container di sinistra sezione */
.first .section-container-left{
    width: 20%;
    position: absolute;
    top: 3%;
    left: 12%;
}

/* contenitore di destra section */
.second .section-container-right{
    width: 20%;
    position: absolute;
    top: 3%;
    right: 38%;
}

/* Stile container di sinistra sezione */
.second .section-container-left{
    width: 20%;
    position: absolute;
    top: 3%;
    left: 12%;
}

/* specchia l'immagine sull'asse Y */
.reversed{
    transform: scaleY(-1);
}

/* ultima sezione */
.last-section{
    text-align: center;
}

/* contenitore testo ultima sezione */
.text-lastsection-container{
    padding-top: 20px;
    width: 60%;
    margin: auto;
}

/* modifica margin bottone ultima sezione */
.last-section button{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*------------------------- 
    CARATTERISTICHE LINK
-------------------------*/

a{
    text-decoration: none;
    color: white;
}


/*------------
    BUTTON
------------*/

/* Classe comune a tutti i button */
.button-characteristic{
    border-radius: 30px;
    padding: 12px 14px;
    border: none;
    font-size: 15px;
}

/* Margine per button hero */
.hero button{
    margin-left: 10px;
}


/*------------------ 
    COLOR CLASSES 
------------------*/

/* Colore testo bianco */
.white-text{
    color: white;
}

/* colore sfondo nero discord */
.black-background{
    background-color: #23272a;
}

/* colore sfondo bianco */
.white-background{
    background-color: white;
}

/* colore sfondo grigio discord */
.grey-background{
    background-color: #f6f6f6;
}

/* colore sfondo lilla discord */
.lilla-background{
    background-color: #8ea1e1;
}